<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testdemo.holyg.gittest">
    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- sdcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- wifi internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.autocues"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iclauncher640dpi_192x192"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iclauncher640dpi_192x192"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".picShowActivity"
                     android:screenOrientation="landscape">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.testdemo.holyg.gittest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <activity android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera"
            android:theme="@style/NoActionbar" />
    </application>

</manifest>